{% extends 'base.html' %}

		{% block content %}
		<article class="hentry">
			<header>
				<h1 class="entry-title">{{ article.title }}</h1>
				<h2 class="entry-summary">
					{{ article.subtitle }}
				</h2>
				<time class="published" datetime="{{ article.publish_date }}">
					{{ article.publish_date.strftime('%d-%m-%Y') }}
				</time>
				<p class="byline author vcard">
					__author__ = "<span class="fn">{{ article.author }}</span>"
				</p>
			</header>
			<div class="entry-content">
				<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
				<p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>

				<figure>
					<img src="/static/images/romulo.jpg" alt="to muito bonito nessa foto" />
					<figcaption>Eu acho que essa foto favoreceu o tom da minha barba</figcaption>
				</figure>
				<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
				<p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
			</div>
			<footer>
				<p>Agradeço especialmente ao Bernanrdo Fontes, que me ensinou a usar essa biblioteca</p>
			</footer>
			<aside>
				<dl>
					<dt>./collo.py --compartilhar</dt>
					<dd>[yy] <a href="#" target="_blank">copiar link</a></dd>
					<dd>[sg] <a href="#" target="_blank">g+</a></dd>
					<dd>[st] <a href="#" target="_blank">twitter</a></dd>
					<dd>[sf] <a href="#" target="_blank">facebook</a></dd>
				</dl>
			</aside>
		</article>
		{% endblock content %}
