{% extends 'article_list.html' %}

		{% block content %}
		<section name=content>
			<article class="hentry">
				<time class="published" datetime="2012-01-07 11:11:03-0400">
					07/01/2015
				</time>, 
				<span class="byline author vcard">
					<span class="fn">Rômulo Collopy</span>
				</span>
				<h2>But Will It Make You Happy?</h2>
				<h3>
					How you spend has a greater effect on your happiness than how
					much you spend, researchers say.
				</h3>
			</article>
			<hr/>
			<article>
				<time class="published" datetime="2012-01-07 11:11:03-0400">
					07/01/2015
				</time>, 
				<span class="byline author vcard">
					<span class="fn">Rômulo Collopy</span>
				</span>
				<h2>But Will It Make You Happy?</h2>
				<h3>
					How you spend has a greater effect on your happiness than how
					much you spend, researchers say.
				</h3>
			</article>
		</section>
		<aside>
			<dl>
				<dt>./collo.py --compartilhar</dt>
				<dd>[yy] <a href="#" target="_blank">copiar link</a></dd>
				<dd>[sg] <a href="#" target="_blank">g+</a></dd>
				<dd>[st] <a href="#" target="_blank">twitter</a></dd>
				<dd>[sf] <a href="#" target="_blank">facebook</a></dd>
			</dl>
		</aside>
		{% endblock content %}
