body { box-shadow: none}

div.site-wrapper { 
    height: auto;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

@media screen and (min-width: 768px){

    div.masthead { position: absolute;}
    div.header-wrapper {min-height: 150px; display: table;}

}

div.maincontent>ul { list-style: none; margin: 45px 0; padding: 0 }
div.maincontent>ul>li { margin: 0 0 60px; padding: 0 }
a:hover { color: #aaf; }
a { color: #bbf; }
a.btn { margin: 10px 0;}