{% load bootstrap3 %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/ico/favicon.ico">
    <title>Collopy.pro.br</title>
    <!-- Bootstrap core CSS -->
    {% bootstrap_css %}
    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL}}css/cover.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="{% block page_name %}home{% endblock page_name%}">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="/"><img src="{{ STATIC_URL }}img/collopy-logo-white.png"></a></h3>
              <ul class="nav masthead-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about/">Sobre mim</a></li>
                <li><a href="/contact/">Contato</a></li>
              </ul>
            </div>
          </div>
          <div class="inner cover">
            {% block content %}
            <ul>
              {% for history in histories %}
                <li>
                  <h1 class="cover-heading">{{ history.title }}</h1>
                  <p class="lead">{{ history.content|truncatewords:"30" }} </p>
                  <p class="lead"><a href="{{ history.permalink }}" class="btn btn-lg btn-default">Leia mais</a></p>
                </li>
              {% endfor %}
            <ul>
            {% endblock content %}

          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
    {% bootstrap_javascript %}
    <script src="{{ STATIC_URL }}js/docs.min.js"></script>
  </body>
</html>