<html>
    <head>
        <title>Rômulo Collopy's Homepage</title>
    </head>
    <body>
        <!-- HEADER -->
        <div id='header'>
            <h1>Welcome to my website!</h1>
        </div>
        <!-- END HEADER --> 

        <!-- MENU -->
        <div id='menu'>
        </div> 
        <!-- END MENU -->
        
        <!-- MAIN -->
        <div id='main'>     
        
        
        
        </div> 
        <!-- END MAIN -->

        <!-- FOOTER -->
        <div id='footer'>
        
        
        </div> 
        <!-- END FOOTER -->

    </body>
<html>
