server {
    listen 80;
    server_name "collopy.pro.br";
    client_max_body_size 50M;

    root /opt/apps/collopyprobr/current;

    location /static {
        root /opt/apps/collopyprobr/current/collopyprobr/;
    }

    location / {
        uwsgi_pass unix:/opt/run/collopyprobr.sock;
        include uwsgi_params;
    }
}
